# <%= @project_name %>

## Initial Project TODO

- Add a git remote and push upstream
- Change this README.md file
- Add credits to README.md
- Look over Resources/Config.yml
- Make sure to update CHANGELOG.md periodically!
